<nav class="navbar">
    <div class="logo">Iko Kazi KE</div>
    <div class="nav-links">
      <a href="#" (click)="toggleExpand('findJob')">Find job</a>
      <a href="#" (click)="toggleExpand('messages')">Messages</a>
      <a href="#" (click)="toggleExpand('hiring')">Hiring</a>
      <a href="#" (click)="toggleExpand('community')">Community</a>
      <a href="#" (click)="toggleExpand('faq')">FAQ</a>
    </div>
  </nav>
  <!-- Expandable Section -->
<div *ngIf="expandedItem === 'findJob'" class="dropdown-content">
  <input type="text" [(ngModel)]="searchInput" (input)="onSearchChange()" placeholder="Job Title">
  <input type="text" placeholder="Work Location">
  <input type="number" placeholder="Experience (years)">
  <input type="range" min="100" max="20000" [(ngModel)]="searchInput" (input)="onSearchChange()">
</div>

  <!-- Expandable Section -->
  <div *ngIf="expandedItem === 'messages'" class="dropdown-content">
    <input type="text" placeholder="All">
    <input type="text" placeholder="Read ">
  </div>